body {
    margin: 0;
    padding: 0;
    background-color: #F6FFF8;
}

.container {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
}

.container img {
    width: 50px;
    height: auto;
    margin: 0;
    padding: 0;
}

.container .div {
    font-size: 40px;
    font-family: 'Dela Gothic One', sans-serif;
    color: #2c6e49;
    margin: 0;
    padding: 0;
    line-height: 1;
    position: relative;
    top: -5px;
}

.line-div {
    width: 100%;
    position: relative;
    border-top: 3px solid #2c6e49;
    box-sizing: border-box;
    height: 3px;
    top: -3px;
}


#video-player {
    display: none;
    color: #2c6e49;
    border-radius: 10px;
    margin-top: 2%;
}

#file-input-container {
    width: 640px;
    height: 360px;
    border: 5px solid #2c6e49;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    color: #2c6e49;
    border-radius: 10px;
}

#file-input {
    display: none;
}

span {
    font-size: 20px;
    font-family: 'SF Pro Display Light Italic', sans-serif;
    font-weight: light;
    font-style: italic;
    color: #2c6e49;
}

.child {
    position: relative;
    display: flex;
    justify-content: center;
    /* Центрирует по горизонтали */
    /* height: 100vh;   */
    margin-top: 10px;
    margin-bottom: 5px;
}

.graph {
    /* position: relative; */
    border: 5px solid #2c6e49;
    border-radius: 10px;
    margin-top: 10px;
    width: 640px;
    height: 360px;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    /* Добавляем небольшой отступ */
}

.container2 {
    margin-top: 10px;
    margin-bottom: 33px;
}

.line-div2 {
    width: 100%;
    position: relative;
    border-top: 3px solid #2c6e49;
    box-sizing: border-box;
    height: 3px;
    margin-top: 33px;
    top: 3px;
}

.container_trash {
    text-align: center;

}

#chart {
    border: 5px solid #2c6e49;
    background-color: #fff;
    border-radius: 10px;
}

#tooltip {
    position: absolute;
    display: none;
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
    pointer-events: none;
}

/* Стили для текста на осях */
.axis text {
    font-family: Arial, sans-serif;
    font-size: 16px;
    /* Размер шрифта */
    font-weight: bold;
    fill: #2c6e49;
    /* Цвет текста */
}

/* Стили для линий осей */
.axis path,
.axis line {
    stroke: #2c6e49;
    /* Цвет линий осей */
}

@font-face {
    font-family: 'SF Pro Display Light Italic';
    src: url('SFPRODISPLAYLIGHTITALIC.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

.popup {
    display: none;
    /* По умолчанию скрыт */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Полупрозрачный фон */
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.popup-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 5px solid #2c6e49;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
    font-family: 'SF Pro Display Light Italic';
    src: url('SFPRODISPLAYLIGHTITALIC.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
    font-size: 1.5em;
    width: 100%;
    /* Ширина окна (50% от ширины экрана) */
    max-width: 600px;
    /* Максимальная ширина */
    min-width: 300px;
    /* Минимальная ширина */
    height: auto;
    /* Высота автоматическая */
    max-height: 80vh;
    /* Максимальная высота (80% от высоты экрана) */
    overflow-y: auto;/
}

.popup-content span {
    cursor: pointer;
}


#file-input-container img {
    height: 100%;
}

.time-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

.time-button {
    box-sizing: border-box;
    background-color: #2c6e49;
    color: #fff;
    font-size: 18px;
    font-family: 'Dela Gothic One', sans-serif;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.time-button:hover {
    background-color: #1e4e34;
    /* Более темный оттенок зеленого при наведении */
    transform: scale(1.05);
    /* Легкое увеличение размера */
}

.time-button:active {
    transform: scale(0.95);
    /* Анимация нажатия */
}

.time-button-selected {
    background-color: #fff;
    color: #2c6e49;
    outline: 5px solid #2c6e49;
    outline-offset: -5px;
}

.time-button-selected:hover {
    background-color: #ffffff;
}